{% if is_paginated %}
    {# Creamos el parámetro de orden si existe (usando un string vacío si no hay orden) #}
    {% with orden_param='&orden='|add:orden_actual|default:'' %} 
    <nav>
        <ul class="pagination pagination-circle mg-b-0 justify-content-center">
            
            {# Primera #}
            {% if page_obj.number == 1 %}
                <li class="page-item disabled"><a class="page-link">Primera</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page=1{{ orden_param }}">Primera</a></li>
            {% endif %}
            
            {# Anterior #}
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{{ orden_param }}">Anterior</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Anterior</a></li>
            {% endif %}

            {# Páginas individuales: Muestra 5 páginas centradas alrededor de la actual #}
            {% for i in paginator.page_range %}
                {% if i >= page_obj.number|add:'-2' and i <= page_obj.number|add:'2' %}
                    <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                        <a class="page-link" href="?page={{i}}{{ orden_param }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            
            {# Siguiente #}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{{ orden_param }}">Siguiente</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Siguiente</a></li>
            {% endif %}

            {# Última #}
            {% if page_obj.number == paginator.num_pages %}
                <li class="page-item disabled"><a class="page-link">Última</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}{{ orden_param }}">Última</a></li>
            {% endif %}

        </ul>
    </nav>
    {% endwith %}
{% endif %}