{% extends 'base.html' %}
{% block contenido %}

<h1>{{ post.titulo }}</h1>

{% if post.subtitulo %}
    <h3>{{ post.subtitulo }}</h3>
{% endif %}

<hr>

<!--Imagen principal -->
{% if post.imagen %}
    <img src="{{ post.imagen.url }}" class="img-fluid mb-3">
{% endif %}

<!-- Contenido del post -->
<p>{{ post.texto|linebreaksbr }}</p>

<p><strong>Categoría:</strong> <a href="{% url 'posts:posts_por_categoria' post.categoria.pk %}">{{ post.categoria }}</a></p>
<p><strong>Autor:</strong> {{ post.autor.username }}</p>
<p><strong>Publicado:</strong> {{ post.publicado|date:"d/m/Y H:i" }}</p>

<!-- Botones de edición/eliminación para el autor del post -->
{% if request.user.is_authenticated and post.autor == request.user %}
    <div class="mb-4">
        <a href="{% url 'posts:editar_post' post.pk %}"
           class="btn btn-warning">
            Editar Artículo
        </a>
        <a href="{% url 'posts:eliminar_post' post.pk %}"
           class="btn btn-danger">
            Eliminar Artículo
        </a>
    </div>
{% endif %}

<hr>


<h3>Comentarios</h3>
<br>

{% for comentario in post.comentarios.all %}
    <div class="border p-3 mb-3 rounded">

        <p>{{ comentario.contenido }}</p>

        <small class="text-muted">
            Escrito por <strong>{{ comentario.autor.username }}</strong> –
            {{ comentario.creado|date:"d/m/Y H:i" }}
        </small>
        
        {% if request.user.is_authenticated %}
            <!-- Se puede editar/eliminar si es el autor O si es un Colaborador -->
            {% if comentario.autor == request.user or es_colaborador %}
                <div class="mt-2">
                    <a href="{% url 'posts:editar_comentario' comentario.pk %}" 
                       class="btn btn-sm btn-warning">
                        Editar
                    </a>
                    <a href="{% url 'posts:eliminar_comentario' comentario.pk %}" 
                       class="btn btn-sm btn-danger">
                        Eliminar
                    </a>
                </div>
            {% endif %}
        {% endif %}
        
    </div>

{% empty %}
    <p>No hay comentarios todavía. ¡Sé el primero en comentar!</p>
{% endfor %}

<hr>

{% if request.user.is_authenticated %}

    <div class="card p-3 shadow-sm bg-light">
        <h4>Dejá tu comentario</h4>
        
        <form method="POST" action="{% url 'posts:agregar_comentario' post.pk %}"> 
            {% csrf_token %}
            {{ form.as_p }} 

            <button type="submit" class="btn btn-success">Comentar</button>
        </form>
    </div>

{% else %}
    <div class="alert alert-info text-center">
        Debes <a href="{% url 'usuarios:login' %}">Iniciar sesión</a> para comentar.
    </div>
{% endif %}

{% endblock %}