{% extends 'base.html' %}
{% block contenido %}

<h1>{{ post.titulo }}</h1>

{% if post.subtitulo %}
    <h3>{{ post.subtitulo }}</h3>
{% endif %}

<hr>

{% if post.imagen %}
    <img src="{{ post.imagen.url }}" class="img-fluid mb-3">
{% endif %}

<p>{{ post.texto }}</p>

<p><strong>Categoría:</strong> {{ post.categoria }}</p>
<p><strong>Publicado:</strong> {{ post.publicado|date:"d/m/Y H:i" }}</p>

<hr>


<!--   SECCIÓN DE COMENTARIOS                                 -->


<h3>Comentarios</h3>
<br>

{% for comentario in post.comentarios.all %}
    <div class="border p-3 mb-3 rounded">

        <p>{{ comentario.contenido }}</p>

        <small class="text-muted">
            Escrito por <strong>{{ comentario.autor.username }}</strong> –
            {{ comentario.creado|date:"d/m/Y H:i" }}
        </small>

    </div>

{% empty %}
    <p>No hay comentarios todavía. ¡Sé el primero en comentar!</p>
{% endfor %}

<hr>

<!-- FORMULARIO PARA AGREGAR COMENTARIO -->
{% if request.user.is_authenticated %}

    <h4>Agregar comentario</h4>

    <form method="POST">
        {% csrf_token %}
        {{ form_comentario.as_p }}
        <button class="btn btn-primary">Publicar comentario</button>
    </form>

{% else %}
    <p>
        <a href="{% url 'usuarios:login' %}">Iniciá sesión</a> para comentar.
    </p>
{% endif %}

{% endblock %}
